####################################################################################################################################################################################################################
# Global compile parameters
#
# BENCHMARKTYPE: Benchmark type. Can be: cuda, cuda-opt, cuda-lib, opencl, opencl-opt and opencl-lib
# The formatting should be in parenthesis with spaces (bash array). Some examples are listed below:
# Example 1: (cuda)
# Example 2: (cuda opencl) 
#
# DATATYPES: Types to use in all the compatible benchmark algorithms. Can be INT, FLOAT, HALF and DOUBLE.
# 
# BLOCKSIZE: Blocksizes to use in all the benchmark algorithms (ie: 16). 
####################################################################################################################################################################################################################
BENCHMARKTYPE=(cuda cuda-opt cuda-lib opencl opencl-opt opencl-lib)
DATATYPES=(INT FLOAT HALF DOUBLE)
BLOCKSIZES=(1024 16)


####################################################################################################################################################################################################################
# Specific compile parameters
#
# The benchmark unit:
# BENCHMARK: Name of the benchmark to execute.
# TYPE: Benchmark type. Can be: cuda, cuda-opt, cuda-lib, opencl, opencl-opt and opencl-lib
# DATATYPE: Types to compile for this specific benchmark. Can be INT, FLOAT, HALF and DOUBLE.
# BLOCKSIZE: Blocksize to use in this benchmark.
# Formatting as follows: (BENCHMARK (TYPE1 TYPE2 TYPE3) (DATATYPE1 DATATYPE2 DATATYPE3) BLOCKSIZE)
#
# Example 1: (matrix_multiplication_bench (cuda-opt) (INT FLOAT) 1024)
# Example 2: (matrix_multiplication_bench (opencl cuda-opt) (DOUBLE) 16)
# Example 3: (matrix_multiplication_bench (opencl-lib cuda-lib (FLOAT HALF) 32)
#
# BENCHMARKS: Benchmarks to compile with a specific type and a specific block size.
# It consists on an array of benchmark units between quoatations and separed by spaces.
# Formatting as follows: ("(BENCHMARK (TYPE1 TYPE2 TYPE3) (DATATYPE1 DATATYPE2 DATATYPE3) BLOCKSIZE)" "(BENCHMARK (TYPE1 TYPE2 TYPE3) (DATATYPE1 DATATYPE2 DATATYPE3) BLOCKSIZE)" "(BENCHMARK (TYPE1 TYPE2 TYPE3) (DATATYPE1 DATATYPE2 DATATYPE3) BLOCKSIZE)") 
# 
# Example 1: ("(matrix_multiplication_bench (cuda-opt) (INT FLOAT) 1024)" "(max_pooling_bench (cuda-opt opencl) (FLOAT) 1024)")
####################################################################################################################################################################################################################
BENCHMARKS=("matrix_multiplication_bench cuda-opt INT,FLOAT 1024,16" "max_pooling_bench cuda-opt,opencl FLOAT 1024")
